<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mitac.shutdown"
      android:sharedUserId="android.uid.system"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="9" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> 
    <uses-permission android:name="android.permission.SHUTDOWN" />
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
      
      
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Shutdown"
                  android:windowSoftInputMode="stateHidden|stateAlwaysHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
      </activity>

        <service android:name="com.mitac.shutdown.CheckBattery"/>

        <!-- Register BOOT COMPLETED BroadCast -->
        <receiver android:name="com.mitac.shutdown.BootReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
